DATABASE_URL="mysql://root:password@localhost:3306/yourdb"
DATABASE_USER="root"
DATABASE_PASSWORD="password"
DATABASE_NAME="dbname"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
JWT_SECRET="jwtsecret"
APP_URL= "http://localhost:3000"

COOKIE_HTTP_ONLY= true
COOKIE_SECURE= false
COOKIE_MAX_AGE= 3600000
COOKIE_SAME_SITE= "lax"
